.nav-bar-logo {
  width: 100px;
  height: $nav-bar-height;
  overflow: hidden;
  line-height: $nav-bar-height;
  background-image: url("~/assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
