$nav-bar-height: 50px;

.nav-bar {
  @include box-sizing(border-box);
  width: 100%;
  height: $nav-bar-height;
  white-space: nowrap;
  background-color: $primary-black;
}

@import './Links';
@import './Logo';
