$nav-bar-height: 50px;

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include box-sizing(border-box);
  height: $nav-bar-height;
  white-space: nowrap;
  background-color: $primary-black;
}

@import './Links';
@import './Logo';
@import './LoginInfo'
