$nav-bar-height: 50px;

.nav-bar {
  @include box-sizing(border-box);
  width: 100%;
  height: $nav-bar-height;
  white-space: nowrap;
  background-color: $primary-color;
  > .list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;

    > .item {
      position: relative;
      margin: 0;
      height: $nav-bar-height;
      line-height: $nav-bar-height;
      display: inherit;
      zoom: 1;
      min-width: 100px;
      @include box-sizing(border-box);
      text-align: center;

      vertical-align: middle;
      padding: 0em 1em;
      color: $secondary-text;

      &:hover {
        @include background-opacity($primary-black, 0.1);
      }
    }


  }
}
