.m2t { margin-top: 10px; }
.m1t { margin-top: 5px; }
.m2b { margin-bottom: 10px;}
.m1b { margin-bottom: 5px; }
.m2r { margin-right: 10px; }
.m1r { margin-right: 5px; }
.m2l { margin-left: 10px; }
.m1l { margin-left: 5px;}
.m2h { margin-left: 10px; margin-right: 10px; }
.m1h { margin-left: 5px; margin-right: 5px; }
.m2v { margin-top: 10px; margin-bottom: 10px; }
.m1v { margin-top: 5px; margin-bottom: 5px; }
.m2 { margin: 10px; }
.m1 { margin: 5px; }