$blue: #72d0eb; // Update blue
$pink: #ffb3b3; // Add pink
$family-serif: "Georgia", serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

@import "~bulma/bulma";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import 'mixins';

@import './components/user_button.scss';

.main-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}